/*** reset ***********/
html,body,ul,ol,li,dl,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,a,img,label{margin:0;padding:0;border:0}
header, section, footer, aside, nav, article {display:block}
ul{list-style:none}
$color1:#000;
$color2:#fff;
$color3:#f2f2f2;
$color4:red;
$color5:#d5d5d5;
$color6:#818181;
$color7:#2a2a2a;
$color8:#f40e00;
$color9:#f50e00;
$color10:#3b3b3b;
$color11:#808080;
$color12:#e6e6e6;
$color13:#b4b4b4;
$color14:#c0c0c0;
$color15:#7f7f7f;
$color16:#e7e7e7;
$color17:#c1c1c1;



* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	&:after,
	&:before{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;		
	}
}


html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-size: 62.5%
}


body{
	// @include flexbox;
	@include font-size(1.4);
	font-family: "SegoeUI";
	// flex-flow: column;
	font-display: swap;
	// height: 100vh;
}

html, body{
	// height: 100%
}


@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	//ie11
}


.body{
	-webkit-flex: 1;
	flex: 1;
	// display: flex;
	// flex-flow: column;
	// min-height: 100vh;	
}


input::-moz-focus-inner{
	border: 0;
	padding: 0;
}


.flexbox{
	display: flex;
}
.flex-cv{
	display: flex;
	align-items: center;
}

.flex-center{
	display: flex;
	align-items: center;
	justify-content: center;	
}

button[type="submit"],
.submit{
	cursor: pointer;
}

/*** standart classes *****/
p{}
a{color:#f50e00; transition: .3s;}
h1{font-size:2.5rem}
h2{font-size:2.4rem}
h3{font-size:1.6rem}



.tdn{
	text-decoration: none;
	&:hover{
		text-decoration: underline;
	}
}

.tdu{
	text-decoration: underline;
	&:hover{
		text-decoration: none;
	}
}


.before{
	content: "";
	display: block;
	position: absolute;
}


.form-control,
textarea {
	font-family: "SegoeUI";
	border: 1px solid $color3;
	border-radius: 0;
	font-size: 1.4rem;
	font-style: italic;
	&:focus,
	&:active{
		border-color: $color5;
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3)
	}
}



/* =top
---------------------------*/
.top{
	background: $color3;
	font-family: 'CenturyGothic';
	padding: .7rem 0;
	.qsearch{
		display: flex;
		justify-content: flex-end;
		margin-right: 15rem;
		flex-grow: 1;
		text-align: right;
	}
}
.sisea-search-form{
	.submit{
		background: url(../images/icon-search.png) no-repeat center;
		border: none;
		height: 20px;
		width: 26px;
		cursor: pointer;
		filter: grayscale(1);
		transition: .3s filter;
		&:hover{
			filter: grayscale(0);			
		}
	}
	.form-control{
		background: none;
		border-bottom: 1px solid $color5;
		font-style: italic;
		color: $color4;
		// padding: .3rem 0;
		padding: 0;
		margin: 0;
		height: 26px;
	}
}
/* =/top
---------------------------*/



/* =header
---------------------------*/
.header{
	a{
		text-decoration: none;
	}
	padding-top: 2rem;
	&__left{
		padding-top: 1.6rem;
		text-align: center;
		flex-grow: 1;
	}
	.contacts{
		margin-right: 20rem;
		font-family: 'CenturyGothic';
		font-style: italic;
		color: $color6;
		p{
			line-height: 1.6;
		}
		.call{
			@extend .tdu;
			color: $color4;
		}
		.tel{
			font-size: 2.4rem;
			font-weight: bold;
			font-style: italic;
			color: $color4;
		}
		.altlink{
			color: $color1;
		}
	}
}
/* =/header
---------------------------*/


/* =mainnav
---------------------------*/
.mainnav{
	color: $color6;
	font-family: 'CenturyGothic';
	font-style: italic;
	padding-top: 1.2rem;
	display: flex;
	justify-content: center;
	a{
		color: inherit;
	}
	&__list{
		display: flex;
		justify-content: center;
	}
	.nav{
		& > li{
			margin: 0 0 0 2.4rem;
			position: relative;
			a{
				border-bottom: 1px dashed rgba(0,0,0,0);
				padding-bottom: .3rem;
			}
			&:hover{
				.subnav{
					opacity: 1;
					z-index: 1;
				}
				& > a{
					color: $color4;
					border-bottom: 1px dashed $color4;					
				}
			}
		}
		.subnav{
			left: 0;
			opacity: 0;
			padding-top: 10px;
			position: absolute;
			top: 20px;
			transition: .3s opacity;
			z-index: -1;
		}
		ul{
			background: $color4;
			min-width: 115px;
			padding: 5px 0;
			text-align: left;
			li{
				padding: 6px 6px;
				a{
					color: $color2;
					white-space: nowrap;
					&:hover{
						border-bottom: 1px dashed;
					}
				}
				&.active{
					a, span{
						color: $color2;
						border-bottom: 1px dashed;
					}
				}
			}
		}		
	}
}
/* =/mainnav
---------------------------*/


.slogan{
	color: $color7;
	font-size: 2.4rem;
	font-style: italic;
	font-weight: bold;
	margin-top: 2.8rem;
	padding-right: 16rem;
}

.owl-carousel{
	.owl-controls{
		position: absolute;
		width: 100%;
		top: 115px;
		.owl-buttons{
			.owl-prev,
			.owl-next{
				background: url(../images/prevnext.png) no-repeat left top;
				width: 65px;
				height: 65px;
				position: absolute;
			}
			.owl-prev{
				left: -110px;
			}
			.owl-next{
				// @include sprite;
				// .rotation(180deg);
				right: -110px;
			}
		}
	}
}

/* =main
---------------------------*/



/* =footer
---------------------------*/
.footer{
	overflow: hidden;
	margin-top: auto;
	padding-top: 4.7rem;
	&__top{
		background-color: $color7;
		left: 50%;
		margin-left: -630px;
		overflow: hidden;
		// padding-left: 3rem;
		position: relative;
		.container{
			margin-left: 0;
		}
		.flexbox{
			margin-right: 15rem;			
		}
	}
	&__bottom{
		font-family: 'CenturyGothic';
		padding-top: 1.8rem;
		color: $color6;
		font-style: italic;
	}
	&__contacts{
		line-height: 1.3;
		margin-left: 3.4rem;
		a{
			color: $color9;
			@extend .tdn;
		}
	}

	&__menu{
		padding-left: 12.2rem;
		ul{
			display: flex;
			flex-wrap: wrap;
			width: 47rem;
			li{
				padding: .4rem 3.5rem .3rem 0;
				width: 50%;
				&:nth-child(even){
					padding-right: 0;
				}
				a{
					@extend .tdn;
					color: $color7;
					display: inline-block;
					padding-left: 16px;
					position: relative;
					&:before{
						@extend .before;
						background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAKCAMAAACg0N8BAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAOVBMVEX////1DgD1DgD1DgD1DgD1DgD1DgD1DgD1DgD1DgD1DgD1DgD1DgD1DgD1DgD1DgD1DgD1DgD///8cCaJAAAAAEXRSTlMAmvTgJSPtswFjYrToHiHrrC+JXlYAAAABYktHRACIBR1IAAAAB3RJTUUH4gQFFi0BGoDzYAAAADBJREFUCNdjYGRiZmFgYGBlE2TnANKcgoJcQIqDW5CHF0jz8QsKwCmoIEQJVANEOwA+MQHLTrRwMgAAAABJRU5ErkJggg==") no-repeat left center;
						filter: grayscale(1);
						height: 10px;
						left: 0;
						top: 4px;
						width: 6px;
					}
					&:hover{
						color: $color9;
						&:before{
							filter: grayscale(0)
						}
					}
				}
			}
		}
	}

	.logo{
		padding-left: 3rem;
		@extend .flex-cv;
	}
	.social{
		flex-grow: 1;
		display: flex;
		justify-content: center;
		padding: 1.6rem 0;
		a{
			@extend .flex-cv;
			filter: grayscale(1);
			margin: 0 .3rem;
			transition: .3s filter;
			&:hover{
				filter: grayscale(0);
			}
			img{
				vertical-align: top;
			}
		}
	}

	.copyright{
		font-family: 'CenturyGothic';
		font-style: italic;
		margin-left: 2.5rem;
		a{
			background-color: $color13;
			color: $color2;
			display: inline-block;
			padding: .3rem 1.1rem;
			text-decoration: none;
			&:hover{
				background-color: $color9
			}
		}
	}
}

#totop{
	background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAQAAADIBVVwAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBAUWMjcYYGhnAAAAlElEQVQY033QPQqAMAyG4UDPIDgJTp5K8ACCq+CRBFfBVXAVPEmhIDi9Dio19SeZ8uWB/ggSdERLSxTmIcuxAFjyb5jQc6+e5A2WOMJylBpmjHzVSHZAQ82qVguLmldqjDCrcKPBYGjYVD6LGqfjmPM6033loaN6/GnlH3jBgfTBBCFl8NBSvKKrCywIHfEvE4SYbgdFx1y4R66hlgAAAABJRU5ErkJggg==") no-repeat center center;
	background-color: $color8;
	height: 70px;
	width: 90px;
	&:hover{
		background-position: center 40%;
	}
}
/* =/footer
---------------------------*/

.line-animate{
	position: relative;
	overflow: hidden;
	span{
		position: relative;
		z-index: 2;
	}
	&:before{
		@extend .before; 
		height: 100%;
		width: 100%;
		background: $color9;
		top: 0;
		left: -100%;
		transition: .3s;
		z-index: 1;
	}
	&:hover{
		&:before{
			left: 0;
			transform: translateX(0);
		}
	}
}

.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}



.visually-hidden{
	clip: rect(0 0 0 0);
	height: 1px;
	overflow: hidden;
	position: absolute;
	width: 1px;
}



// forms




label.error{
	display: none !important;
}

.form-control.error{
	border-color: red !important;
	&:focus,
	&:active{
		box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 0, 0, 0.6)
	}
}