.homepage{
	background: url(../images/bg.jpg) no-repeat center 50px;
	min-height: 985px;
	.slogan{
		margin-right: 15rem;
	}
}

.catscarousel{
	overflow: hidden;
	padding-top: 16rem;
	&-nav{
		background: rgba(244, 14, 0, .75);
		height: 42px;
		left: 50%;
		margin-left: -940px;
		position: relative;
		.slick-arrow{
			background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAQAAAAT+RSaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBAUOHwSVr6FWAAAAfElEQVQY04XRMQrCUBCE4cGcIWAlWOVUgRxAsBU8kpBWsBVshZwkEBCsfqsMm2JwX/nBvt1ZMbLWmwatT+yZTZcKYjB86CqIh+m5hSOL6VRBnA0LhwriZbpvoeNr6iuIq2GmrdAwmW47pfrfKn4exg0LxkhCiCH2eKhw2h/EYEtKfOsilAAAAABJRU5ErkJggg==") no-repeat center;
			height: 20px;
			width: 20px;
			border: none;
			cursor: pointer;
			margin: 12px 7px 0;
			opacity: .5;
			transition: .3s;
			&:hover{
				opacity: 1;
				background-position: 0 center;
			}
		}
		.slick-prev{
			transform: rotate(180deg);
		}
	}

	#catcarousel{
		margin-right: 8rem;
	}
}

.cat{
	&__link{
		background: rgba(255,255,255, .5);
		display: block;
		height: 255px;
		padding-top: 1rem;
		text-align: center;
		text-decoration: none;
		width: 220px;
		&:hover{
			background: rgba(245,14,0,.75);
			.cat{
				&__title,
				&__desc{
					color: $color2;
				}
			}
			img{
				filter: invert(1);
			}
		}
	}
	&__title,
	&__desc{
		transition: .3s color;
	}
	&__title{
		font-weight: bold;
		font-size: 2.2rem;
		height: 5rem;
		text-transform: uppercase;
	}
	&__pic{
		@extend .flex-center;
		height: 10rem;
		img{
			transition: .3s filter;
		}
		.hover{
			display: none;
		}
	}
}


// =slogans
#slogans{
	background: rgba(255, 255, 255, .45);
	font-weight: bold;
	font-style: italic;
	color: $color7;
	padding-top: 5.5rem;
	padding-left: 5.5rem;
	.slick-list{
		font-size: 4.8rem;		
	}
	.slick-dots{
		display: flex;
		margin-top: 2rem;
		button{
			$s: 12px;
			background: #3e3e3e;
			border-radius: 50%;
			border: none;
			height: $s;
			margin-right: 1.2rem;
			text-indent: -9999em;
			width: $s;
		}
		.slick-active{
			button{
				background-color: $color8;				
			}
		}
	}
}
// =/slogans


// =info
.info{
	font-family: 'CenturyGothic';
	justify-content: space-between;
	padding-top: 5rem;
	padding-left: 1.8rem;
	margin-right: 15rem;
	.cell{
		flex-shrink: 0;
		padding-right: 3.5rem;
		width: 22%;
	}
	.intro{
		&__title{
			background: $color1;
			color: $color2;
			font-size: 3.6rem;
			text-align: center;
		}
		&__text{
			font-family: "SegoeUI";
			color: $color6;
			font-style: italic;
			line-height: 1.5;
			margin: 2rem 0;
		}
		&__link{
			font-family: "SegoeUI";
			font-style: italic;
			@extend .tdn;			
		}
	}

	.cats{
		li{
			margin-bottom: 1rem;
		}
		a{
			background-color: $color6;
			color: $color2;
			display: inline-block;
			padding: .3rem .7rem;
			text-decoration: none;
			position: relative;
			overflow: hidden;
			span{
				position: relative;
				z-index: 2;
			}
			&:before{
				@extend .before;
				height: 100%;
				width: 100%;
				background: $color9;
				top: 0;
				left: -100%;
				transition: .3s;
				z-index: 1;
			}
			&:hover{
				&:before{
					left: 0;
					transform: translateX(0);
				}
			}
		}
	}

	.review{
		background: $color10;
		color: $color2;
		font-style: italic;
		padding: .5rem .8rem 1rem;
		align-self: flex-start;
		a{
			color: inherit;
		}
		blockquote{
			line-height: 1.4;
			margin: 0;
			position: relative;
			padding: 3rem 0 3.5rem;
			&:before,
			&:after{
				@include sprite($icon-quote);
				@extend .before;
			}
			&:before{
				left: 5px;
				top: 0;
			}
			&:after{
				right: 5px;
				bottom: 0;
				transform: rotate(180deg);
			}
		}

		.more{
			font-family: "SegoeUI";
			margin-top: 1rem;
			text-align: center;
		}
	}

	.news{
		width: 75%;
	}
	.clients{
		width: 25%;
		.flexbox{
			flex-wrap: wrap;			
			a{
				@extend .flex-center;
				border: 1px solid rgba(0,0,0,0);
				text-align: center;
				width: 33.3%;
				&:hover{
					border-color: #f50e00;
				}
			}
		}
		.more{
			
			margin-top: 1rem;
			text-align: center;
			a{
				color: $color9;
				@extend .tdn;
			}
		}
	}
}
// =/info


// =news
.new{
	font-family: "SegoeUI";
	margin-right: 3.5rem;
	&__link{
		background: $color12;
		display: block;
		height: 100%;
		padding: 1.5rem 1rem 1rem;
		text-decoration: none;
		&:hover{			
			background-color: #8e8e8e;
			color: $color2;
			.new{
				&__title,
				&__desc,
				&__more
				{
					color: currentColor;
				}
			}
		}
	}
	&__meta{
		font-weight: bold;
		.month{
			line-height: 1;
			font-size: 3rem;
			text-transform: uppercase;
		}
		.date{
			line-height: 1;
			font-size: 6rem;
			font-weight: bold;
		}
	}
	&__title{
		color: $color9;
		margin-top: 1.2rem;
	}

	&__desc{
		color: $color11;
		margin: 1rem 0;
	}
	&__more{
		color: $color7;
		font-style: italic;
	}
}
// =/news

