@media (max-width: 1399px){
	.listNews,
	.listService{
		margin-left: 0;
		margin-right: 0;
		.new
		{
			margin-right: 1rem;
			width: 210px;
		}
	}

	.listService,
	.main .gallery{
		justify-content: center;
	}

	.info{
		margin-right: 5rem;
	}

	.listService-about,
	.gallery-about{
		justify-content: flex-start !important;
	}


	.listService-about .service,
	.catalog-about .cat,
	.gallery-about a{
		margin-right: 1rem;
		width: 212px;
		&:last-child(){
			margin-right: 0;
		}			
	}



	.catscarousel-nav,
	.footer__top{
		margin-left: -550px;
	}

	.production{
		margin-bottom: -1rem;
	}
	.product{
		margin-bottom: 1rem;
	}

	.feedback,
	#order{
		.row{
			input.form-control{
				min-width: 0;
				width: 30%;
			}
		}
	}

	.gallery-reviews{
		display: block;
		text-align: center;
		a{
			display: inline-block;
		}
	}
}

@media (max-width: 1199px){
	#slogans .slick-list{
		font-size: 3.6rem;
	}

	.info{
		.cell{
			padding-right: 2rem;
		}
		margin-right: 2rem;
		.intro__title{
			font-size: 3.2rem;
		}
		.review{
			font-size: 1.3rem;
		}
	}


	.catscarousel-nav .container{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}


	.cat{
		&__link{
			margin-left: auto;
			margin-right: auto;
		}
	}

	.catscarousel #catcarousel{
		margin-right: 0;
	}

	.catscarousel-nav, .footer__top{
		margin-left: 0;
		position: static;
	}

}

@media (max-width: 1024px){
	.listClients,
	.listService,
	.gallery,
	.catalog
	{
		justify-content: center;
	}

	.feedback__form,
	.order__form
	{
		padding-left: 0;
		padding-right: 0;
	}
}


@media (max-width: 991px){
	.slogans-container{
		width: 100%;
	}

	.info{
		width: 730px;
		margin-left: auto;
		margin-right: auto;


		flex-wrap: wrap;
		margin-bottom: 1rem;
		padding-top: 1rem;
		padding-left: 0;
		.cell{
			padding-right: 1rem;
			width: 30%;
			&.review{
				margin-top: 2rem;
				width: 100%;
			}
		}
		.news{
			justify-content: space-between;
			width: 100%;
			.new{
				margin-right: 0;
				width: 32%;
			}
		}
		.clients{
			margin-top: 1rem;
			margin-bottom: -2rem;
			width: 100%;
			.flexbox{
				a{
					width: 20%;
				}
			}
		}
	}

	.listNews,
	.catalog{
		margin-left: 0;
		margin-right: 0;
		.new{
			margin-right: 2.2rem;
		}
	}


	.gallery-reviews{
		a{
			margin-right: .3rem;
		}
	}
}


@media (max-width: 768px){
	.feedback__form{
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 767px){
	.slogans-container{
		padding-right: 0;
	}
	.info{
		width: 100%;
		padding-right: 15px;
		.cell{
			width: 50%;
		}
		.intro{
			margin-bottom: 1rem;
			width: 100%;
			&__title{
				display: inline-block;
				padding: .3rem 2rem;
			}
			&__text{
				margin-bottom: 1rem;
			}
		}

		.cats{
			margin: 1rem 0;
		}
	}

	.main{
		.title{
			text-align: center;
		}
	}
}



@media (max-width: 700px){
	#slogans{
		padding-left: 1rem;
	}

	.homepage{
		background-position: center top;
	}
	.slogan{
		padding-right: 0;
		text-align: center;
	}

	.catscarousel{
		padding-top: 7rem;
	}

	.new{
		&__meta{
			.date{
				font-size: 4.6rem;
			}
			.month{
				font-size: 2.5rem;
			}
		}
	}
}



@media (max-width: 650px){
	#slogans .slick-list{
		font-size: 3.2rem;
	}

	.feedback,
	#order{
		margin-left: auto;
		margin-right: auto;
		width: 500px;
		.row{
			display: block;
			.form-control,
			textarea{
				display: block;
				margin-bottom: 1rem;
				width: 100% !important;
				text-align: center;
			}
			textarea{
				margin-top: -.7rem;
			}
		}
	}
}


@media (max-width: 600px){
	.info .clients .flexbox a{
		width: 25%;
	}

	.homepage{
		.info{
			.news{
				.new{
					width: 48%;
					&:nth-child(3){
						display: none;
					}
				}
			}
		}
	}

	.main{
		main, .text{
			text-align: justify;
		}
	}
}


@media (max-width: 530px){
	.listNews{
		justify-content: space-between;
		.new{
			margin-right: 0;
		}
	}

	.listClients{
		margin-bottom: -2rem;
	}


	.feedback,
	#order{
		.container{
			padding: 0;
		}
		width: 100%;
		.btn{
			width: 100%;
			&:after{
				display: none;
			}
		}
	}

	.production .gallery{
		flex-wrap: nowrap;
		flex-direction: column;
		align-items: center;
	}

	.accordion__title{
		text-align: left;
	}

	.order__form{
		padding-left: 15px;
		padding-right: 15px;
	}
}



@media (max-width: 500px){
	.catscarousel{
		.container{
			padding-left: 0;
			padding-right: 0;
		}
	}

	.slogans-container{
		padding-left: 0;
	}

	#slogans{
		padding-left: 0;
		margin-left: 0;
	}

	.listNews{
		display: block;
		.new{
			margin-left: auto;
			margin-right: auto 
		}
	}


	.gallery{
		display: block;
	}

	.main{
		.gallery{
			display: flex;
		}
	}

	.product{
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 450px){
	#slogans{
		padding-top: 2rem;
		text-align: center;
		.slick-dots{
			justify-content: center;
		}
	}

	.info{
		.cats{
			display: none;
		}
		.clients .flexbox a{
			width: 33.3%;
		}
	}

	.new{
		margin-bottom: 1rem;
		&__title{
			min-height: 0;
		}
		&__meta{
			.month{
				font-size: 2.2rem;
			}
			.date{
				font-size: 3.6rem;
			}
		}
	}
	.homepage .info .news{
		display: block;
		.new{
			width: 100%;
			&:nth-child(3){
				display: block;
			}
		}
	}


	.catalog{
		justify-content: center;
	}

	.listService .service,
	.catalog .cat

	{
		margin-right: 0;
	}


	.share{
		text-align: center;
	}
	.ya-share2__item{
		margin-bottom: .7rem !important;
	}
}


@media (max-width: 350px){
	#slogans{
		padding-left: 0;
		.slick-list{
			font-size: 2.5rem;
		}
	}

	.main .title span{
		font-size: 2.6rem;
	}
}