.container {
  margin-right: auto;
  margin-left: auto; }

@media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px; } }

@media (min-width: 768px) {
  .container {
    width: 730px; } }

@media (min-width: 992px) {
  .container {
    width: 940px; } }

@media (min-width: 1199px) {
  .container {
    width: 1100px; } }

@media (min-width: 1400px) {
  .container {
    width: 1260px; } }

/*---------------------------------------------------
    SCSS Elements 0.1
  ---------------------------------------------------
    A set of useful SCSS mixins
  ---------------------------------------------------*/
/*
.columns(@colwidth: 250px, @colcount: 0, @colgap: 50px, @columnRuleColor: #EEE, @columnRuleStyle: solid, @columnRuleWidth: 1px) {
  -moz-column-width: @colwidth;
  -moz-column-count: @colcount;
  -moz-column-gap: @colgap;
  -moz-column-rule-color: @columnRuleColor;
  -moz-column-rule-style: @columnRuleStyle;
  -moz-column-rule-width: @columnRuleWidth;
  -webkit-column-width: @colwidth;
  -webkit-column-count: @colcount;
  -webkit-column-gap: @colgap;
  -webkit-column-rule-color: @columnRuleColor;
  -webkit-column-rule-style: @columnRuleStyle;
  -webkit-column-rule-width: @columnRuleWidth;
  column-width: @colwidth;
  column-count: @colcount;
  column-gap: @colgap;
  column-rule-color: @columnRuleColor;
  column-rule-style: @columnRuleStyle;
  column-rule-width: @columnRuleWidth;
}

*/
/* font-family: "SegoeUIRegular"; */
@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot");
  src: url("../fonts/SegoeUIRegular/SegoeUIRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIRegular/SegoeUIRegular.woff") format("woff"), url("../fonts/SegoeUIRegular/SegoeUIRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

/* font-family: "SegoeUIBold"; */
@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot");
  src: url("../fonts/SegoeUIBold/SegoeUIBold.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBold/SegoeUIBold.woff") format("woff"), url("../fonts/SegoeUIBold/SegoeUIBold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold; }

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot");
  src: url("../fonts/SegoeUIItalic/SegoeUIItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIItalic/SegoeUIItalic.woff") format("woff"), url("../fonts/SegoeUIItalic/SegoeUIItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal; }

@font-face {
  font-family: "SegoeUI";
  src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot");
  src: url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.woff") format("woff"), url("../fonts/SegoeUIBoldItalic/SegoeUIBoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold; }

@font-face {
  font-family: 'CenturyGothic';
  src: url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff"); }

@font-face {
  font-family: 'CenturyGothic';
  src: url("../fonts/CenturyGothicItalic.woff2") format("woff2"), url("../fonts/CenturyGothicItalic.woff") format("woff");
  font-style: italic; }

.bold {
  font-family: "SegoeUIBold"; }

.italic {
  font-family: "SegoeUIItalic"; }

.bi {
  font-family: "SegoeUIBoldItalic"; }

/*** reset ***********/
html, body, ul, ol, li, dl, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, a, img, label {
  margin: 0;
  padding: 0;
  border: 0; }

header, section, footer, aside, nav, article {
  display: block; }

ul {
  list-style: none; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-size: 1.4rem;
  font-family: "SegoeUI";
  flex-flow: column;
  font-display: swap;
  height: 100vh; }

html, body {
  height: 100%; }

input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.flexbox {
  display: flex; }

.flex-cv {
  display: flex;
  align-items: center; }

.flex-center, .cat__pic {
  display: flex;
  align-items: center;
  justify-content: center; }

.outerwrapper {
  -webkit-flex: 1;
  flex: 1; }

/*** standart classes *****/
a {
  color: #020000;
  transition: .3s; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2.4rem; }

h3 {
  font-size: 1.6rem; }

.tdn, .info .intro__link {
  text-decoration: none; }
  .tdn:hover, .info .intro__link:hover {
    text-decoration: underline; }

.tdu, .header .contacts .call {
  text-decoration: underline; }
  .tdu:hover, .header .contacts .call:hover {
    text-decoration: none; }

.before, .info .cats a:before, .info .review blockquote:before, .info .review blockquote:after {
  content: "";
  display: block;
  position: absolute; }

.form-control {
  border: 1px solid #f2f2f2;
  border-radius: 0;
  font-size: 16px; }
  .form-control:focus, .form-control:active {
    border-color: #d5d5d5;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(222, 72, 111, 0.3); }

/* =top
---------------------------*/
.top {
  background: #f2f2f2;
  font-family: 'CenturyGothic';
  padding: .7rem 0; }
  .top .qsearch {
    display: flex;
    justify-content: flex-end;
    margin-right: 15rem;
    flex-grow: 1;
    text-align: right; }

.sisea-search-form .submit {
  background: url(../images/icon-search.png) no-repeat center;
  border: none;
  height: 20px;
  width: 26px;
  cursor: pointer;
  filter: grayscale(1);
  transition: .3s filter; }
  .sisea-search-form .submit:hover {
    filter: grayscale(0); }

.sisea-search-form .form-control {
  background: none;
  border-bottom: 1px solid #d5d5d5;
  font-style: italic;
  color: red;
  padding: 0;
  margin: 0;
  height: 26px; }

/* =/top
---------------------------*/
/* =header
---------------------------*/
.header {
  padding-top: 2rem; }
  .header a {
    text-decoration: none; }
  .header__left {
    padding-top: 1.6rem;
    text-align: center;
    flex-grow: 1; }
  .header .contacts {
    margin-right: 20rem;
    font-family: 'CenturyGothic';
    font-style: italic;
    color: #818181; }
    .header .contacts p {
      line-height: 1.7; }
    .header .contacts .call {
      color: red; }
    .header .contacts .tel {
      font-size: 2.4rem;
      font-weight: bold;
      font-style: italic;
      color: red; }
    .header .contacts .altlink {
      color: #000; }

/* =/header
---------------------------*/
/* =mainnav
---------------------------*/
.mainnav {
  color: #818181;
  font-family: 'CenturyGothic';
  font-style: italic;
  padding-top: 2rem;
  display: flex;
  justify-content: center; }
  .mainnav a {
    color: inherit; }
  .mainnav__list {
    display: flex;
    justify-content: center; }
  .mainnav .nav > li {
    margin: 0 1rem;
    position: relative; }
    .mainnav .nav > li a {
      border-bottom: 1px dashed transparent;
      padding-bottom: .3rem; }
    .mainnav .nav > li:hover .subnav {
      opacity: 1;
      z-index: 1; }
    .mainnav .nav > li:hover > a {
      color: red;
      border-bottom: 1px dashed red; }
  .mainnav .nav .subnav {
    left: 0;
    opacity: 0;
    padding-top: 10px;
    position: absolute;
    top: 20px;
    transition: .3s opacity;
    z-index: -1; }
  .mainnav .nav ul {
    background: red;
    min-width: 115px;
    padding: 5px 0;
    text-align: left; }
    .mainnav .nav ul li {
      padding: 6px 6px; }
      .mainnav .nav ul li a {
        color: #fff; }
        .mainnav .nav ul li a:hover {
          border-bottom: 1px dashed; }
      .mainnav .nav ul li.active a, .mainnav .nav ul li.active span {
        color: #fff;
        border-bottom: 1px dashed; }

/* =/mainnav
---------------------------*/
.slogan {
  color: #2a2a2a;
  font-size: 2.4rem;
  font-style: italic;
  font-weight: bold;
  margin-top: 2.8rem; }

.owl-carousel .owl-controls {
  position: absolute;
  width: 100%;
  top: 115px; }
  .owl-carousel .owl-controls .owl-buttons .owl-prev,
  .owl-carousel .owl-controls .owl-buttons .owl-next {
    background: url(../images/prevnext.png) no-repeat left top;
    width: 65px;
    height: 65px;
    position: absolute; }
  .owl-carousel .owl-controls .owl-buttons .owl-prev {
    left: -110px; }
  .owl-carousel .owl-controls .owl-buttons .owl-next {
    right: -110px; }

/* =main
---------------------------*/
/* =footer
---------------------------*/
.footer {
  margin-top: auto; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.homepage {
  background: url(../images/bg.jpg) no-repeat center 50px;
  min-height: 985px; }
  .homepage .slogan {
    margin-right: 14rem; }

.catscarousel {
  overflow: hidden;
  padding-top: 16rem; }
  .catscarousel-nav {
    background: rgba(244, 14, 0, 0.75);
    height: 42px;
    left: 50%;
    margin-left: -630px;
    position: relative; }
    .catscarousel-nav .slick-arrow {
      background: url("data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAUCAQAAAAT+RSaAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfiBAUOHwSVr6FWAAAAfElEQVQY04XRMQrCUBCE4cGcIWAlWOVUgRxAsBU8kpBWsBVshZwkEBCsfqsMm2JwX/nBvt1ZMbLWmwatT+yZTZcKYjB86CqIh+m5hSOL6VRBnA0LhwriZbpvoeNr6iuIq2GmrdAwmW47pfrfKn4exg0LxkhCiCH2eKhw2h/EYEtKfOsilAAAAABJRU5ErkJggg==") no-repeat center;
      height: 20px;
      width: 20px;
      border: none;
      cursor: pointer;
      margin: 12px 7px 0;
      opacity: .5;
      transition: .3s; }
      .catscarousel-nav .slick-arrow:hover {
        opacity: 1;
        background-position: 0 center; }
    .catscarousel-nav .slick-prev {
      transform: rotate(180deg); }

.cat__link {
  background: rgba(255, 255, 255, 0.5);
  display: block;
  height: 255px;
  padding-top: 1rem;
  text-align: center;
  text-decoration: none;
  width: 220px; }
  .cat__link:hover {
    background: rgba(245, 14, 0, 0.75); }
    .cat__link:hover .cat__title, .cat__link:hover .cat__desc {
      color: #fff; }
    .cat__link:hover img {
      filter: invert(1); }

.cat__title, .cat__desc {
  transition: .3s color; }

.cat__title {
  font-weight: bold;
  font-size: 2.2rem;
  height: 5rem;
  text-transform: uppercase; }

.cat__pic {
  height: 10rem; }
  .cat__pic img {
    transition: .3s filter; }
  .cat__pic .hover {
    display: none; }

#slogans {
  background: rgba(255, 255, 255, 0.45);
  font-weight: bold;
  font-style: italic;
  color: #2a2a2a;
  padding-top: 5.5rem; }
  #slogans .slick-list {
    font-size: 4.8rem; }
  #slogans .slick-dots {
    display: flex;
    margin-top: 2rem; }
    #slogans .slick-dots button {
      background: #3e3e3e;
      border-radius: 50%;
      border: none;
      height: 12px;
      margin-right: 1.2rem;
      text-indent: -9999em;
      width: 12px; }
    #slogans .slick-dots .slick-active button {
      background-color: #f40e00; }

.info {
  font-family: 'CenturyGothic';
  justify-content: space-between;
  padding-top: 5rem; }
  .info .cell {
    flex-shrink: 0;
    width: 22%;
    padding-right: 3.5rem; }
  .info .intro__title {
    background: #000;
    color: #fff;
    font-size: 3.6rem;
    text-align: center; }
  .info .intro__text {
    font-family: "SegoeUI";
    color: #818181;
    font-style: italic;
    line-height: 1.5;
    margin: 2rem 0; }
  .info .intro__link {
    font-family: "SegoeUI";
    font-style: italic; }
  .info .cats li {
    margin-bottom: 1rem; }
  .info .cats a {
    background-color: #818181;
    color: #fff;
    display: inline-block;
    padding: .3rem .7rem;
    text-decoration: none;
    position: relative;
    overflow: hidden; }
    .info .cats a span {
      position: relative;
      z-index: 2; }
    .info .cats a:before {
      height: 100%;
      width: 100%;
      background: #f50e00;
      top: 0;
      left: -100%;
      transition: .3s;
      z-index: 1; }
    .info .cats a:hover:before {
      left: 0;
      transform: translateX(0); }
  .info .review {
    background: #3b3b3b;
    color: #fff;
    font-style: italic;
    padding: .5rem .8rem 1rem;
    align-self: flex-start; }
    .info .review a {
      color: inherit; }
    .info .review blockquote {
      line-height: 1.4;
      margin: 0;
      position: relative;
      padding: 3rem 0 3.5rem; }
      .info .review blockquote:before, .info .review blockquote:after {
        background-image: url(../images/sprite.png);
        background-position: 0px 0px;
        width: 25px;
        height: 20px; }
      .info .review blockquote:before {
        left: 5px;
        top: 0; }
      .info .review blockquote:after {
        right: 5px;
        bottom: 0;
        transform: rotate(180deg); }
    .info .review .more {
      text-align: center;
      margin-top: 1rem; }

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent; }

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0; }
  .slick-list:focus {
    outline: none; }
  .slick-list.dragging {
    cursor: pointer;
    cursor: hand; }

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .slick-track:before, .slick-track:after {
    content: "";
    display: table; }
  .slick-track:after {
    clear: both; }
  .slick-loading .slick-track {
    visibility: hidden; }

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none; }
  [dir="rtl"] .slick-slide {
    float: right; }
  .slick-slide img {
    display: block; }
  .slick-slide.slick-loading img {
    display: none; }
  .slick-slide.dragging img {
    pointer-events: none; }
  .slick-initialized .slick-slide {
    display: block; }
  .slick-loading .slick-slide {
    visibility: hidden; }
  .slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent; }

.slick-arrow.slick-hidden {
  display: none; }

/* =mobile-menu
---------------------------*/
.show-sm,
.navbar-toggle,
.close-menu {
  display: none; }

/* =/mobile-menu
---------------------------*/
/* =mobile-menu
---------------------------*/
.navbar-toggle,
.close-menu {
  display: none; }

/* =/mobile-menu
---------------------------*/
@media (max-width: 767px) {
  .show-sm {
    display: block; }
  .navbar-toggle {
    background-color: #0563bf;
    border: none;
    cursor: pointer;
    display: block;
    height: 70px;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: 70px;
    z-index: 99; }
    .navbar-toggle .icon-bar {
      background-color: #fff;
      display: block;
      height: 2px;
      margin: 8px auto;
      width: 30px; }
  .o-menu .close-menu {
    display: block;
    transform: translate(0, 0); }
  .o-menu #navbar {
    display: block;
    transform: translate(-15px, 0);
    z-index: 99999;
    border-top: 0; }
  .o-menu .mainnav__list {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow: auto; }
  .o-menu .mobinfo {
    padding-left: 1rem; }
    .o-menu .mobinfo a {
      color: #fff;
      display: block;
      margin: 1.8rem;
      text-decoration: none; }
      .o-menu .mobinfo a:hover {
        text-decoration: underline; }
  .o-menu .show-sm {
    font-size: 15px;
    font-size: 1.5rem;
    padding-left: 3rem; }
    .o-menu .show-sm a {
      color: #fff;
      display: block;
      margin: 1.8rem 0;
      text-decoration: none;
      border-bottom: none !important; }
      .o-menu .show-sm a:hover {
        text-decoration: underline; }
  .close-menu {
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    display: block;
    transform: translate(-320px, 0);
    background: none;
    cursor: pointer;
    padding: 0;
    left: 215px;
    background-color: #0563bf;
    border: none;
    height: 58px;
    position: fixed;
    text-align: center;
    top: 0;
    width: 58px;
    z-index: 99; }
    .close-menu img {
      transition: transform .2s; }
    .close-menu:hover img {
      transform: rotate(90deg); }
  #navbar {
    transition: all .2s ease-out;
    background-color: #0563bf;
    color: #0563bf;
    display: block;
    left: 0;
    margin-top: 0;
    padding-top: 15px;
    position: fixed;
    top: 0;
    bottom: 0;
    transform: translate(-305px, 0);
    width: 230px; }
    #navbar a {
      border-bottom: none !important; }
    #navbar .container {
      padding: 0; }
    #navbar ul.mainnav {
      background: none;
      display: block;
      font-size: 15px;
      padding-left: 15px; }
      #navbar ul.mainnav .subnav {
        display: none;
        margin-top: -8px;
        min-width: 0;
        opacity: 1;
        padding-left: 0;
        padding-top: 0;
        position: relative;
        text-align: left;
        top: 0;
        width: auto;
        z-index: 10; }
        #navbar ul.mainnav .subnav:before {
          display: none; }
        #navbar ul.mainnav .subnav-text {
          display: none !important; }
      #navbar ul.mainnav ul {
        background: none;
        display: block !important;
        font-size: 14px !important;
        opacity: 1;
        padding: 0;
        position: static; }
        #navbar ul.mainnav ul li:after {
          top: 12px; }
      #navbar ul.mainnav > li.folder > a:after,
      #navbar ul.mainnav > li.folder > span:after {
        background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIlJREFUeNpi+P//vw0QBwMxAzbMxMDA4ALEa4A4iQEbAKoSB+Lt/yEgBd0EGIMXiHdAFSVjUwDCfEC8C90kdEcJQa37A8T5QCyBzeUCQHwXalIfuiQTEHdBJecBsRGyJCMQ98N0YnMDTLIfahJcAQcQ9yJJYoRDEVSyF2oNhgIfIM7FJgnCAAEGAKmlN490MQwsAAAAAElFTkSuQmCC") no-repeat right top;
        top: 22px !important; }
      #navbar ul.mainnav > li.folder > a.open:after,
      #navbar ul.mainnav > li.folder > span.open:after {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        transform: rotate(90deg); }
      #navbar ul.mainnav > li.active > a {
        text-decoration: underline; }
      #navbar ul.mainnav li {
        padding: 0;
        border-bottom: 1px solid #fff; }
        #navbar ul.mainnav li a, #navbar ul.mainnav li span {
          color: #fff;
          display: block;
          height: auto;
          line-height: normal;
          padding: 18px 0 18px 10px;
          text-decoration: none;
          text-transform: none; }
          #navbar ul.mainnav li a:hover, #navbar ul.mainnav li span:hover {
            color: #fff;
            text-decoration: underline; }
        #navbar ul.mainnav li.active, #navbar ul.mainnav li:hover {
          border-bottom: 1px solid #fff;
          color: #fff; }
          #navbar ul.mainnav li.active a, #navbar ul.mainnav li.active span, #navbar ul.mainnav li:hover a, #navbar ul.mainnav li:hover span {
            background: none; }
        #navbar ul.mainnav li.folder > a,
        #navbar ul.mainnav li.folder > span {
          position: relative;
          text-align: left; }
          #navbar ul.mainnav li.folder > a:after,
          #navbar ul.mainnav li.folder > span:after {
            background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAANCAYAAACUwi84AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAIlJREFUeNpi+P//vw0QBwMxAzbMxMDA4ALEa4A4iQEbAKoSB+Lt/yEgBd0EGIMXiHdAFSVjUwDCfEC8C90kdEcJQa37A8T5QCyBzeUCQHwXalIfuiQTEHdBJecBsRGyJCMQ98N0YnMDTLIfahJcAQcQ9yJJYoRDEVSyF2oNhgIfIM7FJgnCAAEGAKmlN490MQwsAAAAAElFTkSuQmCC") no-repeat right top;
            content: "";
            display: block;
            height: 12px;
            position: absolute;
            right: 20px;
            width: 8px; }
        #navbar ul.mainnav li.folder ul.show {
          display: block; }
        #navbar ul.mainnav li.folder.open > a:after,
        #navbar ul.mainnav li.folder.open > span:after {
          background-position: left top;
          width: 12px;
          height: 8px; }
        #navbar ul.mainnav li.active a:hover {
          color: #fff; }
        #navbar ul.mainnav li.active > ul {
          display: block; }
          #navbar ul.mainnav li.active > ul .active .active a {
            font-weight: bold;
            text-decoration: underline; }
        #navbar ul.mainnav li ul {
          border-top: none;
          display: none;
          font-size: 12px;
          padding-bottom: 5px;
          width: auto !important; }
          #navbar ul.mainnav li ul li {
            border-bottom: none;
            padding-left: 7px; }
            #navbar ul.mainnav li ul li a, #navbar ul.mainnav li ul li span {
              padding: 7px 0 7px 10px; }
            #navbar ul.mainnav li ul li.active, #navbar ul.mainnav li ul li:hover {
              border-bottom: none;
              color: #0563bf; }
            #navbar ul.mainnav li ul li ul {
              padding-top: 0; }
              #navbar ul.mainnav li ul li ul li {
                padding-right: 0; }
                #navbar ul.mainnav li ul li ul li:hover {
                  background: none; }
                #navbar ul.mainnav li ul li ul li.folder.active > a {
                  text-decoration: underline; }
                #navbar ul.mainnav li ul li ul li ul li.active a {
                  text-decoration: underline; }
    #navbar .nav-tabs > li {
      margin: 0; } }

::-ms-clear {
  display: none; }
